# __repr__() and __str__()

In [6]:
class Competiton:
    def __init__(self, name,country,prize):
        self.__name = name
        self.__country = country
        self.__prize = prize
        
    def getNameCountry(self):
        return '{}{}'.format(self.__name,self.__country)
    
    def __repr__(self):
        return 'Competition name : {} \n Country : {} \n Prize money : {}'.format(self.__name,self.__country,self.__prize)
        
    def __str__(self):
        return '{} - {}'.format(self.getNameCountry(),self.__prize)

In [7]:
archery = Competiton('Archery','India',25000)

In [9]:
print(repr(archery))
print("-----------------------------------")
str(archery)

Competition name : Archery
 Country : India
 Prize money : 25000
-----------------------------------

'ArcheryIndia - 25000'

# __add__()

In [13]:
class Savings:
    
    def __init__(self,amount):
        self.__amount = amount
        
    def __add__(self,self1):
        return self.__amount +  self1.__amount

In [14]:
s1 = Savings(1000)
s2 = Savings(4000)

In [15]:
s1+s2

5000

# __iter__() and __next__()

In [5]:
class Participants:
    
    def __init__(self):
        self.__participants = []
        self.__index=0
        
    def addParticipants(self,name):
        return self.__participants.append(name)
    
    def __len__(self):
        return len(self.__participants)
    
    def __iter__(self):
        self.__index = 0
        return self
    
    def __next__(self):
        if self.__index == len(self.__participants):
            raise StopIteration
            
        p = self.__participants[self.__index]
        self.__index += 1
        
        return p

In [6]:
par = Participants()

par.addParticipants("Harry")
par.addParticipants("Lily")
par.addParticipants("James")
par.addParticipants("Hagrid")

for i in par:
    print(i)

Harry
Lily
James
Hagrid

# Decorator

In [18]:
class Wrestler:
    
    def __init__(self,name,age):
        self.__name = name
        self.__age = age
        
    @property
    def name(self):
        print("Getter name method called")
        return self.__name
    
    @name.setter
    def name(self,value):
        print("Setter name method called")
        self.__name = value
        
    @name.deleter
    def name(self):
        print("Deleter name method called")
        del self.__name
        
    @property
    def age(self):
        print("Getter age method called")
        return self.__age
    
    @age.setter
    def age(self,value):
        print("Setter age method called")
        self.__age = value
        
    @age.deleter
    def age(self):
        print("Deleter age method called")
        del self.__age

In [19]:
w1 = Wrestler('John',29)
w1.name
w1.age
'''
w1.name = "Robert"
w1.age = 35
w1.name
w1.age
'''

Getter name method called
Getter age method called

'\nw1.name = "Robert"\nw1.age = 35\nw1.name\nw1.age\n'

In [20]:
w1.name = 'mark'
w1.age = 45

Setter name method called
Setter age method called

In [21]:
w2 = Wrestler("John",29)
w2.name, w2.age

Getter name method called
Getter age method called

('John', 29)

# Class Method

In [27]:
class Competition:
    __raiseAmt = 1.04
    
    def __init__(self,cname,cprize):
        self.__cname = cname
        self.__cprize = cprize
        
    def raisePrize(self):
        self.__cprize = self.__cprize * self.__raiseAmt
        
    def printDetails(self):
        return '{},{}'.format(self.__cname,self.__cprize)
    @classmethod
    def setRaiseAmtbyValue(cls,amt):
        cls.__raiseAmt = amt
        
    @classmethod
    def getRaiseAmt(cls):
        return cls.__raiseAmt
    
    @classmethod
    def fromStr(cls,mystr):
        name,prize = mystr.split('-')
        return cls(name,prize)

In [28]:
archery_str = "archery - 8000"

c1 = Competition.fromStr(archery_str)
c1.printDetails()

'archery , 8000'

# Abstract Clas and method

In [34]:
from abc import ABC, abstractmethod

In [46]:
class Hominidae(ABC):
    @abstractmethod
    def walk(self):
        pass
    
    def diet(self):
        pass
    
    def behaviour(self):
        print("Shows complex facial expression")

In [38]:
#before defining abstract method
h = Hominidae()

In [40]:
#after defining abstract method
h1 = Hominidae()

TypeError: Can't instantiate abstract class Hominidae with abstract method walk

In [47]:
class Human(Hominidae):
    def walk(self):
        print("humans are bipeds")
        
    def diet(self):
        print("humans are omnivorus")

In [48]:
hum = Human()
hum.walk()
hum.diet()
hum.behaviour()

humans are bipeds
humans are omnivorus
Shows complex facial expression

In [49]:
class BankAccount:
    
    def __init__(self, balance): 
        self.__amount = balance                          
    
    def __mul__(self, other):
        if type(other) == int:
            return self.__amount * other
        else: 
            raise ValueError('Can only multiply by int')

ba = BankAccount(1000)

In [50]:
ba*4

4000

In [53]:
old_str = 'Hello'
new_str = old_str
new_str = 'World'
old_str

'Hello'

In [55]:
dict_a = {"John": 35, "Jim": 22, "Jill": 44}
dict_copy = dict_a.copy()
dict_copy["John"] = 40
dict_a

{'John': 35, 'Jim': 22, 'Jill': 44}

In [56]:
old_list = ['John', 'Amy', 'Jule']
new_list = old_list.copy()
new_list.append('Emily')
old_list

['John', 'Amy', 'Jule']

In [57]:
old_list = ['John', 'Amy', 'Jule']
new_list = old_list
new_list.append('Emily')
old_list

['John', 'Amy', 'Jule', 'Emily']

In [58]:
dict_a = {'John': 35, 'Jim': 22, 'Jill': 44}
dict_copy = dict_a
dict_copy['John'] = 40
del dict_copy['John']
dict_a

{'Jim': 22, 'Jill': 44}